:root {
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #ff0070;
  --bg-color: #000028;
  --title-color: #db00ff;
  --bg-image: url(../images/cover-image-dark.png);
  --font: "IBM Plex mono";
  --font-size: 18px;
  --normal: 400;
  --bold: 700;
  --global-padding: 10px;
  --main-margin: 40px 0;
  --question-margin: 50px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --global-padding: 20px;
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-margin: 60px 0;
    --question-margin: 80px;
  }
}
